* {
    margin: 0 ;
    padding : 0 ;
}

main {
    background-color: #eee ;
}

h1 {
    font-family: "Catamaran" , sans-serif ;
    text-align: center ;
    padding: 30px 0 20px 0 ;
    background: whitesmoke ;
    font-size: 40px;
}

main > p {
    font-family: 'Playfair Display', serif;
    font-size: 22px ;
    text-align: center ;
    padding: 10px 0 10px 0 ;
    font-style: italic;
}

#img-div {
    width : 100% ;
}

img {
    display: block ;2
    margin: 0 auto  ;
    width: 60% ;
    height: auto ;
    border-radius: 5px ;
    max-width: 800px ;
}

figcaption {
    text-align: center ;
    font-family: "Roboto";
}

#tribute-info {
    background-color: whitesmoke ;
    width: 90% ;
    padding: 50px 0 50px 0 ;
    margin: 50px auto ;
}

#tribute-info ul {
    width: 80% ;
    padding: 20px ;
    margin: 0 auto ;
}

h2 {
    text-align: center ;
    font-family: "Catamaran";
    padding: 20px ;
    border : 1px solid grey ;
    border-radius: 3px ;
    background-color: lightsteelblue ;
}

ul li {
    list-style : none ;
    line-height: 40px ;
    font-size: 18px ;
    font-family:"Roboto";
    border-bottom: 1px solid black ;
}

strong {
    background-color: grey ;
    padding: 5px ;
}

.awards li {
    text-align: center ;
    padding: 10px ;
    font-weight: bold;
}

.awards li:nth-child(even) {
    background-color: lightyellow
}

.awards li:nth-child(odd) {
    background-color: lightgreen ;
}

main {
    display: flex ;
    flex-direction: column ;
}